@import '../../styles/variables';

.Imagecarousel-Wrapper {
    height: calc(100% - 72px);
}
.CarouselImage-1 {
    width: 100%;
}
  @media screen and (min-width:960px){
    .Imagecarousel-Wrapper {
       height: calc(100vh - 72px);
    }
 }