@import '../../styles/variables';

.aboutbeyondsyntax {
    position: relative;
}
.aboutbeyondsyntax img{
    width: 100%;
    height: 80vh;
    opacity: 0.8;
}

.aboutbeyondsyntax-content h2{
    position: absolute;
    color: #fff;
    top: 30%;
    left: 8%;
    font-size: 38px;
    font-weight: 700;
}
.aboutbeyondsyntax-content p{
    position: absolute;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    max-width: 555px;
    top: 45%;
    left: 8%;
}
.aboutbeyondsyntax-content button{
    border: 1px solid #000;
    background-color: none;
    padding: 10px 32px;
    font-size: 14px;
    font-weight: 400;
    top: 40%;
}


