@import '../../styles/variables';

.ourtechnologies {
    padding: 15px 0px 20px 0px;
    position: relative;
}
.ourtechnologies-backgroundwrapper img{
    width: 100%;
    height: 70vh;
}
.ourtechnologies-contentwrapper {
    position: absolute;
    top: 18%;
}
.ourtechnologies-heading {
    text-align: center;
    color: $white;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 40px;
}
.ourtechnologies-image-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0px 70px 0px 70px;
}
.ourtechnologies-image {
    padding: 15PX;
}
.ourtechnologies-image img{
    width: 100%;
    border: 2px solid $white;
}
.ourtechnologies-button-wrapper {
    text-align: center;
}
.ourtechnologies-button-wrapper button{
    border: 2px solid $white;
    color: $white;
    font-size: 16px;
    padding: 10px 32px;
    background: none;
    text-align: center;
}
.ourtechnologies-button-wrapper button:hover {
    background-color: $secondary-color;
}