@import '../../styles/variables';

.weoffer {
    background-image: url(../../images/backgroundimg.jpg);
    padding:20px 0px 20px 0px;
}
.weoffer img {
    width: 100%;
}
.weoffer-container {
    top: 10%;
    justify-content: center;
    width: 100%;
}
.weoffer-heading {
    font-size: 18px;
    font-weight: 400;
    color: $white;
    text-align: center;
    max-width:450px;
    margin:0 auto;
}
.weoffer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weoffer-content-wraper {
    height: auto ;
    width: auto;
    background-color: $white;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.weoffer-content-wraper img {
    width: 40px;
    height: 40px;
}
.weoffer-content-wraper-heading {
    color: $primary-color;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 10px;
}
.weoffer-content-wraper-paragraph {
    color: $black;
    font-size: 14px;
    font-weight: 400;
}
@media screen and (min-width: 768px) {
    
    .weoffer img {
        height: 80vh;
    }
    .weoffer-container {
        top: 15%;
    }
    .weoffer-heading {
        font-size: 24px;
        text-align: center;
    }
    .weoffer-content {
        flex-direction: row;
        justify-content: center;
    }
    .weoffer-content-wraper {
        height: 230px;
        width: 350px;
    }
    .weoffer-content-wraper img {
        width: 45px;
        height: 45px;
    }
    .weoffer-content-wraper-heading {
        font-size: 22px;
    }
    .weoffer-content-wraper-paragraph {
        font-size: 14px;
    }
   
}