@import '../../styles/variables';


header {
    position: fixed;
    width: 100%;
    transition: all 0.5s;
    z-index: 997;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 16px;
    padding-left: 60px;
    color: #fff;
    text-decoration: none;
}

.navlink ul {
    display: block;
    list-style-type: none;
    padding-right: 60px;
}

.navlink ul li {
    display: inline-block;
    padding: 0 8px 10px 8px;
}

.navlink ul li a {
    color: #01a7e9;
    font-size: 13px;
    text-decoration: none;
    font-weight: 700;
}

.navlink ul li a:hover {
    color: $primary-color;
}