@import '../../styles/variables';

.footer {
    background-color: #0464b0;
    display: flex;
    flex-direction: row;
    padding: 30px 150px 30px 150px;
}
.column-1 {
    max-width: 400px;
    padding-right:10px;
}
.column-1-heading {
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}
.column-1-content {
    font-weight: 500;
    font-size: 14px;
    color:#fff;
}
.column-1-content-heading {
   font-weight: 500;
}
.column-1-content-paragraph {
    font-weight: 300;
 }
 .column-2 {
    max-width: 400px;
    padding: 0px 10px 0px 10px;
 }
 .column-2-heading {
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
 }
 .column-2-links ul {
    font-weight: 500;
    font-size: 14px;
    color:#fff; 
 }
 .column-3 {
    max-width: 400px;
    padding: 0px 10px 0px 10px;
 }
 .column-3-heading {
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
 }
 .column-3-links ul {
    font-weight: 500;
    font-size: 14px;
    color:#fff; 
 }
 