@import '../../styles/variables';


.ourclients {
    display: block;
    margin-top: 41px;
    padding: 0 50px;
}
.ourclients-heading {
    font-size: 36px;
    color: $black;
    text-align: center;
    font-weight: 500;
    position: relative;
    padding-bottom: 15px;
}
.ourclients-heading-underline {
    padding: 0px 450px 0px 450px;
}
.ourclients-image-wrapper {
    display: flex;
    flex: row;
}
.ourclients-image img{
    width: 100%;
}