@import '../../styles/variables';


.ourclients {
    padding: 10px 150px 30px 150px;
}
.ourclients-heading {
    font-size: 36px;
    color: #000;
    text-align: center;
    font-weight: 500;
    position: relative;
    padding-bottom: 15px;
}
.ourclients-heading-underline {
    padding: 0px 450px 0px 450px;
}
.ourclients-image-wrapper {
    display: flex;
    flex: row;
}
.ourclients-image img{
    width: 100%;
}