@import '../../styles/variables';

.howcanwehelpyou {
    display: flex;
    flex-direction: row;
    padding: 20px 150px 20px 150px ;
}
.howcanwehelpyou-content {
    flex: 50%;
    width: 550px;
}
.howcanwehelpyou-content-heading {
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 15px;
    text-align: center;
}
.howcanwehelpyou-content-paragraph {
    font-size: 16px;
    font-weight: 400;
    padding-right: 15px;
}
.howcanwehelpyou-image {
    flex: 50%;
    padding-left: 15px;
}
.howcanwehelpyou-image img {
    width: 100%;
}